################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Testcs/obj
/test/UnitTest/bin/Debug/netstandard2.0
/test/UnitTest/obj
